/* Барлық бетке ортақ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: white;

    /* ФОН – СЕНІҢ galaxy.jpg */
    background-image: url("galaxy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Ортасына қою үшін */
.page-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Плакат (карточка) */
.card {
    width: 340px;
    padding: 20px 24px 24px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
}

/* Үстіңгі кішкентай жазулар */
.card-top {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    opacity: 0.8;
    margin-bottom: 10px;
}

/* Екі атау (Юпитер + Jupiter) */
.planet-name-kk {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.1;
}

.planet-name-en {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.8;
    margin-bottom: 10px;
}

/* Планета суреті */
.planet-img {
    width: 220px;
    display: block;
    margin: 12px auto 14px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
}

/* Текст */
.card p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.info-list {
    list-style: none;
    font-size: 13px;
    margin-top: 6px;
}

.info-list li + li {
    margin-top: 3px;
}

.info-list span {
    font-weight: bold;
}

/* Төменгі жол */
.card-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    opacity: 0.85;
    margin-top: 10px;
}
